.assignment_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  padding: 30px 60px;
}

table {
  table-layout: fixed;
  width: 70%;
  border-collapse: collapse;
  border: 1px solid black;
}
.trList {
  /* background-color: red; */

  border: 1px solid black;
}

.trList > td,
th {
  border-right: 1px solid black;
  padding: 10px;
}

.trList > td:nth-child(2) {
  overflow: hidden;
}
