.footer_container_wrapper {
  width: 100%;
  border-top: 1px solid black;
  bottom: 0;

  background-color: white !important;
}
.footer_container {
  max-width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
}
