.contact_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 60px;
}
.contact_container > .title_wrapper {
  width: 180px;
  height: 100%;
  display: flex;
  align-items: center;

  margin-right: 30px;
}
.contact_container > .title_wrapper > .title {
  margin-bottom: 200px;
}

.contact_container > .contact_wrapper {
  width: 40%;
  display: flex;

  flex-direction: column;
  justify-content: center;

  text-align: center;
  margin: 80px auto;
  border: 1px solid black;
  padding: 40px 20px 60px 20px;
  border-radius: 12px;
}

.contact_container > .contact_wrapper > .contact > .first_text {
  padding: 20px 0 0 20px;
  font-size: 35px;
}
.contact_container > .contact_wrapper > .submit_form {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.contact_container > .contact_wrapper > .submit_form > form {
  margin: 0 auto;
  width: 100%;
}
.contact_container > .contact_wrapper > .submit_form > form > .label_wrapper {
  position: relative;
  height: 40px;
  width: 70%;
  margin: 30px 0;

  width: 100%;
}

.contact_container
  > .contact_wrapper
  > .submit_form
  > form
  > .label_wrapper
  > label {
  top: -1px;
  position: absolute;

  left: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  transform: translateY(-20%);

  font-size: 15px;

  font-weight: 500;
}

.contact_container
  > .contact_wrapper
  > .submit_form
  > form
  > .label_wrapper
  > input {
  margin-top: 5px;
  border-radius: 4px;
  padding: 8px 12px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color),
    0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  width: 100%;
  height: 100%;
  background: transparent;
  border: 1px solid black;
  border-radius: 12px;
  outline: none;
  padding: 3px;
  padding-left: 10px;
  font-size: 16px;
}

.contact_container > .contact_wrapper > .submit_form > form > button {
  justify-self: center;
  align-self: center;
  margin-top: 20px;
  padding: 40px 10px;
  margin-top: 20px;
  background-color: white;
  padding: 12px 62px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  border: 1px solid black;
  &:hover {
    background-color: black;
    color: #faf8f1;
    transition: all 0.5s;
  }
}

.label_wrapper > textarea {
  width: 100%;
  min-height: 80px;
  border-radius: 4px;
  border: 1px solid black;
  padding: 20px 10px 10px;
}
