.content_container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* gap: 20px; */
  justify-items: center;
  align-items: center;
  padding: 0 60px;
}

.content_container > .card {
  width: 350px;

  border-radius: 20px;

  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content_container > .card > h1 {
  font-size: 26px;
  margin: 35px 0;
}

.content_container > .card > p {
  margin: 20px;
}
